<br><br><br>

<center><h1>Those are great numbers <%=username%>.<p> Did you know that your three favorite numbers <%=fav1%>, <%=fav2%> and <%=fav3%> <p> that total <%=sum%> are <%=results%> your age of <%=age%>?<p>
	
<a href="/">Try Again</a>

</form>	</h1></center>