
<center><div class="subhead">Those are great numbers <%=username%>.<br> Did you know that your three favorite numbers <%=fav1%>, <%=fav2%> and <%=fav3%> <br> that total <%=sum%> are <%=results%> your age of <%=age%>?</div></center>
	
<center><h3><a href="/">Try Again</a>
<br><br><br><br>
</form></h3></center>
<br><br><br><br>
